@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 15px;
  font-family: "Poppins", "sans-serif";
  color: #fff;
}
#wrapper {
  background: url("./../images/bg-intro-desktop.png") no-repeat,
    hsl(0, 100%, 74%);
  background-size: contain;

  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#wrapper .screen {
  width: 50%;

  display: flex;

  justify-content: center;
  flex-direction: column;
}

aside article {
  padding: 0 0em 0 10.5em;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
aside article h1 {
  margin-bottom: 0.6em;
  font-size: 48px;
  line-height: 1.1em;
  letter-spacing: -1px;
}
aside article p {
  line-height: 1.6em;
  font-weight: 500;
}
main div#announce,
main form {
  width: 509px;
  margin-left: 1.3em;
  border-radius: 0.5em;

  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

main div#announce {
  background: hsl(248, 32%, 49%);
  margin-bottom: 1.5em;
  padding: 1em;

  text-align: center;
}
main form {
  background: #fff;
  padding: 2.5em 2.2em 2em;
  color: hsl(249, 10%, 26%);
}
main form fieldset {
  border: none;
}
main form .textBox {
  display: flex;
  align-items: stretch;
  flex-direction: column;

  padding-bottom: 1.4em;
}
.textBox {
  position: relative;
}
.textBox label {
  display: none;
}

.textBox input {
  padding: 1em 2em;

  color: #000;
  font-weight: 600;
  font-size: 14px;
  border: solid 2px rgba(0, 0, 0, 0.1);
  border-radius: 0.35em;
  opacity: 0.9;
  outline: none;
}

.textBox img {
  display: none;
}
.textBox img.failed {
  display: block;
  position: absolute;
  top: 17%;
  right: 1.7rem;
}
input.failed {
  border: solid .15rem hsl(0, 100%, 74%);
}
input[type='email'].failed::placeholder {
  color: hsl(0, 100%, 74%);
  opacity: .9;
  font-weight: 700;
}

.textBox input:active,
.textBox input:focus {
  border-color: hsl(249.5, 36.1%, 76.1%);
  opacity: 1;
}
.textBox .alert {
  display: none;
}
.textBox .alert.failed {
  display:  inline;
  position: absolute;
  bottom: 0;
  right: 0;
  color: hsl(0, 100%, 74%);
  font-size: 10px;
  font-family: inherit;
  text-align: right;
  margin-top: 0.75em;
}

form input[type="submit"] {
  background: hsl(154, 59%, 51%);
  margin-bottom: 0.3em;
  padding: 0.8em 2em;
  width: 100%;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  border: solid 2px rgba(0, 0, 0, 0.1);
  border-radius: 0.35em;
  opacity: 0.9;
}
form small,
form small span {
  width: 100%;
  font-size: 10px;
  text-align: center;
}
form small {
  display: inline-block;
  color: hsl(246, 25%, 77%);
}
form small span {
  color: hsl(0, 100%, 74%);
  font-weight: 700;
}
@media (max-width: 1200px) {
  aside article {
    padding-left: 5em;
  }
}
@media (max-width: 1110px) {
  article aside {
    padding-left: 9em;
  }
  #wrapper .screen#rightScreen {
    align-items: center;
  }
  main div#announce,
  main form {
    width: 400px;
  }
}
@media (max-width: 950px) {
  aside article {
    padding-left: 2em;
  }
  #wrapper .screen#rightScreen {
    padding-bottom: 5em;
  }
}
@media (max-width: 900px) {
  * {
    font-size: 14px;
  }
  #wrapper {
    height: auto;
    padding: 2em 0;
    flex-direction: column;
  }
  #wrapper .screen {
    width: 100%;
    padding: 2em 0 0;
    align-items: center;
  }
  aside article {
    width: 500px;
    margin-bottom: 3em;
    padding: 0 5.5em;
    text-align: center;
  }
  aside article h1 {
    font-size: 38px;
  }
  main div#announce,
  main form {
    margin-left: 0;
  }
}
@media (max-width: 550px) {
  aside article {
    width: 100%;
  }
  #wrapper .screen:nth-child(2) {
    padding: 0 2em;
  }

  main div#announce,
  main form {
    width: 100%;
  }
}
@media (max-width: 460px) {
  main div#announce,
  main form {
    width: 400px;
  }
}
@media (max-width: 410px) {
  #wrapper .screen:first-child {
    padding-bottom: 0;
  }
  main div#announce,
  main form {
    width: 350px;
  }
  .textBox input {
    width: 100%;
  }
}